In [20]:
age=20
print('나이:',age)

나이: 20

In [21]:
name='홍길동'
print('나는',name,'입니다')

나는 홍길동 입니다

In [22]:
a=3
b=3.5
c='python'
print('%f,%s,%d'%(b,c,a))

3.500000,python,3

In [23]:
print('Enter your name:')

Enter your name:

In [24]:
sombody=input()
print ('hi',sombody,'how are you today?')

hi  how are you today?

In [25]:
sombody=input()
print ('hi',sombody,'how are you today?')

zimean
hi zimean how are you today?

In [28]:
temperature=float(input("온도를 입력하세요"))

온도를 입력하세요3202.2

In [29]:
print(temperature)

3202.2

# 실습

In [31]:
print("본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.")

본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.

In [32]:
섭씨온도=float(input("변환하고 싶은 섭씨온도를 입력하세요"))

변환하고 싶은 섭씨온도를 입력하세요32.2

In [49]:
print('섭씨온도:',섭씨온도)

섭씨온도: 32.2

In [53]:
print('화씨온도:', (float(섭씨온도)*1.8)+32)

화씨온도: 89.96000000000001

## 정답

In [54]:
Celsius=input()

32.2

In [55]:
fahrenheit=(float(Celsius)*1.8)+32

In [56]:
print("섭씨온도:",Celsius)

섭씨온도: 32.2

In [57]:
print("화씨온도:",fahrenheit)

화씨온도: 89.96000000000001

## 리스트의 이해

In [1]:
colors=['red','blue','green']

In [2]:
print(colors[0])

red

In [3]:
print(len(colors))

3

In [4]:
cities=['서울','부산','인천','대구','대전','울산','수원']

In [5]:
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '울산']

In [10]:
cities[-10:]

['서울', '부산', '인천', '대구', '대전', '울산', '수원']

In [11]:
cities[:]

['서울', '부산', '인천', '대구', '대전', '울산', '수원']

In [13]:
cities[-10:10]

['서울', '부산', '인천', '대구', '대전', '울산', '수원']

In [14]:
cities[::3] #3칸씩

['서울', '대구', '수원']

In [16]:
cities[::-2]#역으로 2칸씩

['수원', '대전', '인천', '서울']

### 리스트 추가 및 삭제

## append() : 새로운 값을 기존 리스트의 맨 끝에 추가

In [17]:
color=['red','blue','green']

In [18]:
color.append('white')

In [19]:
color

['red', 'blue', 'green', 'white']

## extend( ) 함수 : 새로운 리스트를 기존 리스트에 추가

In [20]:
color.extend(['black','purple'])

In [21]:
color

['red', 'blue', 'green', 'white', 'black', 'purple']

## insert( ) 함수 : 기존 리스트의 i 번째 인덱스에 새로운 값을 추가 , i 번째 인덱스를 기준으로 뒤쪽의 인덱스가 하나씩 밀림

In [22]:
color.insert(0,'orange')

In [23]:
color

['orange', 'red', 'blue', 'green', 'white', 'black', 'purple']

## remove()함수 : 리스트 내의 특정값을 삭제

In [24]:
color.remove('red')

In [25]:
color

['orange', 'blue', 'green', 'white', 'black', 'purple']

## 인덱스 재할당,(특정 인덱스 값) 삭제

In [32]:
color[0]='orange2'

In [33]:
color

['orange2', 'blue', 'green', 'white', 'black', 'purple']

In [34]:
del color[0]

In [35]:
color

['blue', 'green', 'white', 'black', 'purple']

# 패킹& 언패킹

패킹   : 한 변수에 여러 개의 데이터를 할당하는 것 <br/>
언패킹 : 한 변수의 데이터를 각각의 변수로 반환하는 것

In [37]:
t=[1,2,3] #패킹
a,b,c=t   #언패킹 : t에 있는 값 1,2,3을 a,b,c에 언패킹
print(t,a,b,c)

[1, 2, 3] 1 2 3

# 2차원 리스트

In [41]:
kor_score=[49,79,20,100,90]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score=[kor_score, math_score, eng_score]
midterm_score

[[49, 79, 20, 100, 90], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [42]:
print(midterm_score[0][2])

20

In [43]:
math_score[0]=1000

In [44]:
midterm_score

[[49, 79, 20, 100, 90], [1000, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

## 리스트의 메모리 관리 방식

값이 아닌 메모리의 주소를 저장한다.<br/>
-> 리스트 안에 리스트 입력 가능

In [45]:
a=['color',1,0.2]
color=['yellow','blue','green','black','purple']
a[0]=color
print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

In [47]:
a=[5,4,3,2,1]
b=[1,2,3,4,5]
b=a
print(b)

[5, 4, 3, 2, 1]

In [50]:
a.sort()

In [51]:
print(b) #a만 정렬하고 b를 출력했을 때도 b도 정렬되어있다.

[1, 2, 3, 4, 5]

-b에 새로운 값을 할당하면 b는 이제 새로운 메모리 주소에 새로운 값을 할당 할 수 있다